
<div id="mailHtml" style="padding:5px;min-width: 450px;max-width: 650px;line-height: 1.2em; background-color: #f5f5f5;margin-left: 1%;margin-right: 1%;margin-top: 1%;margin-bottom: 1%;border-radius: 15px 15px 0px 0px;border: 1px solid #ccc">
    <div> 
      <div style="display:flex;gap:10px;"><svg id="emailSVG" style="width:75px;margin-left: 10px;margin-right: 10px;" viewBox="0 0 50 50"><rect id="logo-placeholderEmail" x="0" y="0" width="50" Opacity="0" height="50"/></svg>
        <div style="padding: 5px 5px;"><h3 class="emailInhaber"></h3>
          <div class="mail-to"> <span>An: </span><span id="emailAdresseKunde"></span></div>
          <div>Betreff: <span id="emailSubject"></span></div>
        </div>
      </div>
    </div>
      <div style="background-color: #fff;"><br>
      <p>Sehr geehrter Herr / sehr geehrte Frau <span id="emailNameKunde"></span></p>
      <p id="emailTextMessage">Lorem ipsum</p>
      <p>Mit freundlichen Grüßen</p>
      <p><span class="emailInhaber"></span><br><span id="emailName"></span></p>
      <button style="margin-top: 20px;border: 0.5px solid #eee;padding: 10px 25px; border-radius: 30px; color: #000;
      background: transparent;"><span class="fas fa-reply">Antwort</span></button>
      <button style="margin-top: 20px;border: 0.5px solid #eee;padding: 10px 25px; border-radius: 30px; color: #000;
      background: transparent;"><span class="fas fa-reply-all">Allen Antworten</span></button>
    </div>
  </div>